{% extends "layout.html" %}

{% block body %}

<h1> Due Task </h1>
<table style = "margin: 0; border-collapse: collapse">
    <th style = "margin: 0; border: 1px solid black; width: 20em"> Task </th>
    <th style = "margin: 0; border: 1px solid black; width: 20em"> Due Date </th>
    <th style = "margin: 0; border: 1px solid black; width: 20em"> Due Time</th>

        {% for task in Due_Tasks %}
        <tr>
            <td style = "margin: 0; border: 1px solid black; width: 20em">
                {{ task.name }}
            </td>
            <td style = "margin: 0; border: 1px solid black; width: 20em">
                {{ task.date }}
            </td>
            <td style = "margin: 0; border: 1px solid black; width: 20em">
                {{ task.time }}
            </td>
            
        </tr>
        {% endfor %}
</table>

{% endblock %}